<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <app-logos></app-logos>
        </div>
        <div class="col-sm-8">
            <div class="d-flex justify-content-end">
                <div class="px-2 m-1">
                    <app-sesion></app-sesion>
                </div>
                <div class="px-2 m-1">
                    <app-idioma></app-idioma>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link btn-secondary active" id="v-pills-mapa-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mapa" type="button" role="tab" aria-controls="v-pills-mapa" aria-selected="true">MAPA</button>
                <button class="nav-link btn-secondary" id="v-pills-lista-tab" data-bs-toggle="pill" data-bs-target="#v-pills-lista" type="button" role="tab" aria-controls="v-pills-lista" aria-selected="false">LISTA</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-mapa" role="tabpanel" aria-labelledby="v-pills-mapa-tab" tabindex="0">
                    <app-mapa></app-mapa>
                </div>
                <div class="tab-pane fade" id="v-pills-lista" role="tabpanel" aria-labelledby="v-pills-lista-tab" tabindex="0">
                    <app-lista></app-lista>
                </div>
            </div>
          </div>
    </div>
</div>